<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Mon Application</title>
</head>
<body>
 Node.js, Express et MongoDB.
 <button id='update'>Mise à jour téléphone</button>
 <form action="/ajouter" method="POST">
 <input type="text" placeholder="nom" name="nom">
 <input type="text" placeholder="Telephone" name="telephone">
 <button type="submit">Submit</button>
 </form>

 <table class="tableau">
 <% adresses.forEach(elm => {%>
 <tr>
 <td><%= adr._id %></td>
 <td><%= adr.nom %></td>
 <td><%= adr.telephone %></td>
 <td style="color:green;">Bouton save</td>
 <a style="color: red;" href=http://localhost:8081/detruire/<%= adr._id %> >Détruire </a>
 </tr>
 <% }) %>
 </table>
</body>
</html>